@inherits LayoutComponentBase

<MudThemeProvider Theme="this._theme" />
<MudDialogProvider/>
<MudSnackbarProvider/>

<div>
    <MudLayout Class="page">
        @Body
    </MudLayout>
</div>

@code{
    private MudTheme _theme;

    protected override Task OnInitializedAsync()
    {
        this.InitDefaultTheme();
        return base.OnInitializedAsync();
    }

    private void InitDefaultTheme()
    {
        this._theme = new MudTheme()
        {
            Palette = BuildDefaultPalette(),
            PaletteDark = BuildDefaultPalette(),
            Typography = new Typography()
            {
                Body1 = new Body1()
                {
                    FontSize = "15.4px"
                },
                Body2 = new Body2()
                {
                    FontSize = "13.4px"
                },
                H1 = new H1()
                {
                    FontSize = "2.35rem"
                },
                H2 = new H2()
                {
                    FontSize = "2.15rem"
                },
                H3 = new H3()
                {
                    FontSize = "1.85rem"
                },
                H4 = new H4()
                {
                    FontSize = "1.60rem"
                }
            }
        };

        Palette BuildDefaultPalette()
        {
            Palette palette = new MudTheme().PaletteDark;
            //palette.Primary = "#d64402ff";
            palette.Primary = Colors.DeepOrange.Darken1;
            palette.PrimaryLighten = Colors.DeepOrange.Lighten1;
            palette.PrimaryDarken = Colors.DeepOrange.Darken4;
            palette.Surface = "#1D1D1D";
            palette.Secondary = Colors.DeepPurple.Default;
            palette.SecondaryLighten = Colors.DeepPurple.Lighten1;
            palette.SecondaryDarken = Colors.DeepPurple.Darken4;
            palette.Tertiary = Colors.BlueGrey.Darken1;
            palette.TertiaryLighten = Colors.BlueGrey.Lighten1;
            palette.TertiaryDarken = Colors.BlueGrey.Darken3;
            palette.Dark = "#141414";
            palette.DarkContrastText = palette.TextPrimary;
            return palette;
        }
    }
}