@using MudBlazor.ThemeManager
@using TehGM.EinherjiBot.UI.Components.Menu
@inherits LayoutComponentBase

<MudThemeProvider Theme="this._theme" IsDarkMode="true" />
<MudDialogProvider/>
<MudSnackbarProvider/>

<div>
    <MudLayout Class="page">
        <DevelopmentOnly>
            <MudThemeManagerButton OnClick="@((e) => this.OpenThemeManager(true))" />
            <MudThemeManager Open="this._themeManagerOpen" OpenChanged="this.OpenThemeManager" Theme="this._themeManager" ThemeChanged="this.UpdateTheme" />
        </DevelopmentOnly>
    
        <NavMenu />
    
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </MudLayout>
</div>

@code{
    private MudTheme _theme = new MudTheme()
    {
        PaletteDark = new Palette()
        {
            //Primary = "#d64402ff",
            Primary = Colors.DeepOrange.Darken1,
            PrimaryLighten = Colors.DeepOrange.Lighten1,
            PrimaryDarken = Colors.DeepOrange.Darken4
        }
    };
    public bool _themeManagerOpen = false;    

    private ThemeManagerTheme _themeManager = new ThemeManagerTheme();
    public bool _isOpen = false;

    private void OpenThemeManager(bool value)
    {
        this._themeManagerOpen = value;
    }

    private void UpdateTheme(ThemeManagerTheme value)
    {
        this._themeManager = value;
        this._theme = value.Theme;
        this.StateHasChanged();
    }
    
    protected override void OnInitialized()
    {
        this.StateHasChanged();
    }
}