@using TehGM.EinherjiBot.API
@using TehGM.EinherjiBot.UI.Components.Menu
@layout EmptyLayout
@inherits LayoutComponentBase
@implements IDisposable
@inject PersistentComponentState PrerenderingState

<CascadingValue Value="this._botInfo">

    <NavMenu />
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

</CascadingValue>

@code{
    private IDiscordUserInfo _botInfo;
    private PersistingComponentStateSubscription _prerenderingSubscription;

    protected override async Task OnInitializedAsync()
    {
        if (this.PrerenderingState.TryTakeFromJson(nameof(_botInfo), out UserInfoResponse botInfo))
            this._botInfo = botInfo;
        else
        {
            if (this.RenderLocation.IsServer)
                this._prerenderingSubscription = this.PrerenderingState.RegisterOnPersisting(this.PersistAsync);
            this._botInfo = await this.EntityInfoProvider.GetBotInfoAsync();
        }
        await base.OnInitializedAsync();
    }

    private Task PersistAsync()
    {
        this.PrerenderingState.PersistAsJson(nameof(_botInfo), this._botInfo);
        return Task.CompletedTask;
    }

    public virtual void Dispose()
    {
        try { this._prerenderingSubscription.Dispose(); } catch { }
    }
}