main {
    flex: 1;
    padding: 16px;
}

article {
    max-width: 560px;
    margin: 0 auto;
}

.above-fab {
    margin-bottom: 56px;
}

@media (min-width: 800px) {
    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

@media (min-width: 960px) {
    article {
        max-width: 770px;
    }
}

@media (min-width: 1280px) {
    article {
        max-width: 1200px;
    }
}

@media (min-width: 1920px) {
    article {
        max-width: 1540px;
    }
}

@media (min-width: 2200px) {
    article {
        max-width: 1860px;
    }
}

@media (min-width: 2400px) {
    article {
        max-width: 1860px;
    }
}