@using TehGM.EinherjiBot.UI.Components.Menu
@inherits LayoutComponentBase

<MudThemeProvider Theme="this._theme" IsDarkMode="true" />
<MudDialogProvider/>
<MudSnackbarProvider/>

<div>
    <MudLayout Class="page">
        
        <NavMenu />
    
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </MudLayout>
</div>

@code{
    private MudTheme _theme = new MudTheme()
    {
        PaletteDark = new Palette()
        {
            //Primary = "#d64402ff",
            Primary = Colors.DeepOrange.Darken1,
            PrimaryLighten = Colors.DeepOrange.Lighten1,
            PrimaryDarken = Colors.DeepOrange.Darken4
        },
        Typography = new Typography()
        {
            H1 = new H1()
            {
                FontSize = "2.25rem"
            }
        }
    };
    
    protected override void OnInitialized()
    {
        this.StateHasChanged();
    }
}