@inherits EntityIdListBase<IDiscordUserInfo>

<div class="id-list d-flex flex-column">
    @foreach (ulong id in base.Values)
    {
        <UserIdField @key="id" Value="id" ReadOnly="base.ReadOnly" ValueChanged="base.OnValueChangedAsync" />
    }
    @if (this.AllowNewValues && !base.ReadOnly)
    {
        <UserIdField @ref="base.NewItemField" ReadOnly="base.ReadOnly" ValueChanged="base.OnNewValueInputAsync" />
    }
</div>

@code {
}
