.menu-expander-bar {
    text-align: center;
    cursor: pointer;
    margin-bottom: 6px;
    transition: background-color 0.3s;
    background-color: var(--background-color-darkest);
    border-top: 1px solid var(--background-color-default);

    &:hover {
        background-color: var(--background-color-default);
    }

    span {
        text-align: center;
        width: auto;
    }

    &.light {
        border-top: 1px solid var(--background-color-lightest);
        background-color: var(--background-color-dark);

        &:hover {
            background-color: var(--background-color-lighter);
        }
    }
}
