.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.sidebar {
    background-color: var(--menu-background-color);
    display: flex !important;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .nav-menu-items {
        flex: 1 0 auto;
    }

    ::deep .user-panel {
        margin-top: 10px;
        font-size: 15px;
        flex-shrink: 0;
        text-align: center;
        color: var(--menu-copyright-color);
        padding-bottom: 5px;

        p {
            margin-top: 0;
            margin-bottom: unset;
            font-weight: bold;
        }

        a, a:hover, a:focus {
            text-decoration: none;
        }
    }
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;

    &:not([size]) {
        height: 1px;
    }
}

.loading-placeholder {
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;

    &:not(:first-of-type) {
        padding-top: 1rem;
    }

    &:last-of-type {
        padding-bottom: 1rem;
    }

    ::deep .mud-skeleton-circle {
        margin-left: 19px;
        margin-right: 9px;
    }

    ::deep .mud-skeleton-text {
        flex: 1;
        align-self: center;
    }
}

.nav-item {
    transition: background-color 0.3s;
    transition: color 0.3s;
    font-size: 16px;
    cursor: pointer;
    color: var(--menu-text-inactive-color);
    background-color: var(--menu-item-background-inactive-color);
    line-height: 34px;
    padding-bottom: 0.5rem;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;

    &:first-of-type {
        padding-top: 0.7rem;
    }

    &:not(:last-of-type) {
        padding-bottom: 0.5rem;
    }

    .oi, .bi, .icon {
        $icon-size: 20px;
        display: block;
        max-width: $icon-size;
        max-height: $icon-size;
        margin-right: 6px;
        top: -1px;
        font-size: unset;
        color: var(--menu-text-inactive-color);
    }

    .bi {
        top: 1px;
        position: relative;
        font-size: 18px;
        max-height: unset;
    }

    ::deep a {
        transition: background-color 0.3s;
        transition: color 0.3s;
        border-radius: 4px;
        height: 2.5rem;
        display: flex;
        align-items: center;
        color: var(--menu-text-inactive-color);
        padding: .5rem 1rem;
        text-decoration: none;

        .text {
            transition: background-color 0.3s;
            transition: color 0.3s;
            height: unset;
            font-size: 14px;
        }

        &:hover, &:hover .text {
            background-color: var(--menu-item-background-hover-color);
            color: var(--menu-text-hover-color);
        }

        &.active, &.active .text {
            background-color: var(--menu-item-background-active-color);
            color: var(--menu-text-active-color);
        }
    }
}

.collapse, ::deep .user-panel.collapse {
    display: none;
}

@media (min-width: 600px) {
    .navbar-toggler {
        display: none;
    }

    .collapse, ::deep .user-panel.collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}