.sidebar {
    background-color: var(--menu-background-color);
    display: flex !important;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .nav-menu-items {
        flex: 1 0 auto;
    }

    ::deep .user-panel {
        margin-top: 10px;
        font-size: 15px;
        flex-shrink: 0;
        text-align: center;
        color: var(--menu-copyright-color);
        padding-bottom: 5px;

        p {
            margin-top: 0;
            margin-bottom: unset;
            font-weight: bold;
        }

        a, a:hover, a:focus {
            text-decoration: none;
        }
    }
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-item {
    transition: background-color 0.3s;
    transition: color 0.3s;
    line-height: 34px;
    font-size: 16px;
    padding-bottom: 0.5rem;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    color: var(--menu-text-inactive-color);
    background-color: var(--menu-item-background-inactive-color);

    &:first-of-type {
        padding-top: 0.7rem;
    }

    &:not(:last-of-type) {
        padding-bottom: 0.5rem;
    }

    .oi, .bi, .icon {
        $icon-size: 20px;
        display: block;
        max-width: $icon-size;
        max-height: $icon-size;
        margin-right: 6px;
        top: -1px;
        font-size: unset;
        color: var(--menu-text-inactive-color);
    }

    .bi {
        top: 1px;
        position: relative;
        font-size: 18px;
        max-height: unset;
    }

    ::deep a {
        transition: background-color 0.3s;
        transition: color 0.3s;
        border-radius: 4px;
        height: 2.5rem;
        display: flex;
        align-items: center;
        color: var(--menu-text-inactive-color);

        .text {
            transition: background-color 0.3s;
            transition: color 0.3s;
            height: unset;
            font-size: 14px;
        }

        &:hover, &:hover .text {
            background-color: var(--menu-item-background-hover-color);
            color: var(--menu-text-hover-color);
        }

        &.active, &.active .text {
            background-color: var(--menu-item-background-active-color);
            color: var(--menu-text-active-color);
        }
    }
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse, ::deep .user-panel.collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}