.discord-avatar {
    border-radius: 50%;

    &.inline {
        width: 32px;
        height: 32px;
    }
}

.discord-username {
    font-weight: 500;

    &.inline {
        font-size: 16px;
        line-height: 20px;
    }
}

.discord-status {
    &.inline {
        font-size: 12px !important;
        line-height: 16px !important;
        align-self: start !important;
    }
}

.discord-bot-tag, .discord-bot-tag:hover {

    %discord-bot-tag-size {
        height: 15px;
        line-height: 15px;
        font-size: 10px;
    }

    @extend %discord-bot-tag-size;
    padding: 0 4px;

    &, &.mud-chip {
        @extend %discord-bot-tag-size;
        border-radius: 3px;
        background-color: rgb(88, 101, 242) !important;
        margin-left: 5px;
        height: unset;
        margin-right: 0px;
    }

    & > .mud-chip-content {
        @extend %discord-bot-tag-size;
        color: white;
        font-weight: 500;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
    }
}

.discord-admin-icon {
    height: 16px;
    width: 16px;
    margin-left: 5px;
    vertical-align: text-top;

    &.owner {
        color: rgb(250, 166, 26);
    }
}

.discord-mention {
    border-radius: 3px;
    padding: 0 2px;
    transition: background-color 50ms ease-out,color 50ms ease-out;
    font-weight: 500;
    background-color: rgba(88, 101, 242, .3);
    color: #e3e3e3;

    &:hover, &.clickable:hover {
        background-color: rgb(88, 101, 242);
        color: white;
    }
}