@inherits EntityIdListBase<RoleInfoResponse>

<div class="id-list d-flex flex-column">
    @foreach (ulong id in base.Values)
    {
        <RoleIdListItem @key="id" AllowNone="this.AllowNone" Value="id" ReadOnly="base.ReadOnly" ValueChanged="base.OnValueChangedAsync" />
    }
    @if (this.AllowNewValues && !base.ReadOnly)
    {
        <RoleIdListItem @ref="base.NewItemField" AllowNone="this.AllowNone" ReadOnly="base.ReadOnly" ValueChanged="base.OnNewValueInputAsync" />
    }
</div>

@code {
    [Parameter]
    public bool AllowNone { get; set; }
}