.guild-section {
    margin-right: 5px;
    padding-bottom: 1rem;

    ::deep .picker-item {
        padding-left: 22px !important;
    }


    ::deep .guild-section-header {
        padding-left: 5px;
        font-size: 17px;
        cursor: pointer;
        color: var(--menu-text-inactive-color);
        background-color: var(--menu-item-background-inactive-color);
        user-select: none;
        padding-bottom: 8px;

        .section-header-arrow {
        }

        .section-header-image {
            transition: border-radius 0.3s;
            display: inline-block;
            border-radius: 50%;
            margin-right: 9px;
        }

        .section-header-text {
            transition: color 0.3s;
            vertical-align: text-top;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &:hover {
            .section-header-image {
                border-radius: 25%;
            }

            .section-header-text {
                color: var(--menu-text-hover-color);
            }
        }
    }

    .guild-section-content {
    }
}
