:not(.mud-tooltip-root) .inline-timestamp {
    &:not(.no-padding) {
        padding: 2px;
    }

    &:not(.no-highlight) {
        background-color: rgba(0, 0, 0, 0.1);
        text-decoration: dotted underline 1px rgba(255, 255, 255, 0.6);
    }
}
