.sidebar {
    background-color: var(--menu-background-color);
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-item {
    line-height: 34px;
    font-size: 16px;
    padding-bottom: 0.5rem;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    color: var(--menu-text-inactive-color);
    background-color: var(--menu-item-background-inactive-color);

    &:first-of-type {
        padding-top: 1rem;
    }

    &:last-of-type {
        padding-bottom: 1rem;
    }

    .oi, .icon {
        $icon-size: 20px;
        display: block;
        max-width: $icon-size;
        max-height: $icon-size;
        margin-right: 6px;
        top: -1px;
        font-size: unset;
        color: var(--menu-text-inactive-color);
    }

    ::deep a {
        border-radius: 4px;
        height: 2.5rem;
        display: flex;
        align-items: center;
        color: var(--menu-text-inactive-color);

        .text {
            height: unset;
            font-size: 14px;
        }

        &:hover, &:hover .text {
            background-color: var(--menu-item-background-hover-color);
            color: var(--menu-text-hover-color);
        }

        &.active, &.active .text {
            background-color: var(--menu-item-background-active-color);
            color: var(--menu-text-active-color);
        }
    }
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}