<div class="d-flex flex-column gap-1 my-4 flex-grow-0 align-content-center justify-center text-align-center">
    <MudText Typo="Typo.body1" Color="Color.Tertiary" Align="Align.Center" Style="font-weight: 600;">Oopsies!</MudText>
    <MudText Typo="Typo.body1" Color="Color.Tertiary" Align="Align.Center" Style="font-weight: 600;">¯\_(ツ)_/¯</MudText>
    <MudText Typo="Typo.body1" Color="Color.Tertiary" Align="Align.Center" Style="font-weight: 600;">Nothing found!</MudText>
</div>