.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.h1 {
        border-bottom: 1px solid var(--mud-palette-primary-darken);
        margin-bottom: 1rem;
        padding-bottom: 16px;

        ::deep h1 {
            margin-top: 10px;
            margin-bottom: 8px;
        }
    }

    &.h3 {
        ::deep h3 {
            margin-top: 7px;
        }
    }
}
