<div class="page-header @this.Type.ToString()">
    @if (this.Text != null)
    {
        <div>
            <MudText Typo="this.Type">@this.Text</MudText>
        </div>
    }
    @if (this.ChildContent != null)
    {
        <div>
            @this.ChildContent
        </div>
    }
</div>

@code {
    [Parameter]
    public Typo Type { get; set; } = Typo.h1;
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
